name: Selenium UI Tests - nopCommerce

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      nopcommerce:
        image: nopcommerceteam/nopcommerce:4.60.5
        ports:
          - 5000:80
        options: >-
          --health-cmd="curl -f http://localhost || exit 1"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y curl

      - name: Install Google Chrome
        run: |
          wget -q https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt-get install -y ./google-chrome-stable_current_amd64.deb

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Wait for nopCommerce to be ready
        run: |
          for i in {1..30}; do
            if curl -s http://localhost:5000 > / dev/null; then
            echo "nopcommerce is ready"
            break
          fi
          echo "Waiting for nopCommerce..."
            sleep 5
          done

      - name: Run Selenium tests (Headless)
        env:
          BASE_URL: http://localhost:5000
          HEADLESS: "true"
        run: |
          xvfb-run -a pytest testCases --maxfail=1 --disable-warnings -v

      - name: Upload pytest reports (if any)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: .
